.tw_Groups-Container {
    background-color: #f9f9f9;
    color: #090909;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-feature-settings: "cv11";
    padding: 10px 10px 10px 10px;
    gap: 10px;
}

.tw_Ctrl-Group {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20 20 20 20;
    box-shadow: 1px 1px lightgray;
    font-family: "Inter", sans-serif;
    font-feature-settings: "cv11";
}

.tw_tabs-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    padding-top: -10px;
    padding-bottom: 0px;
    font-weight: semibold;
    font-size: 16px;
    gap: 20px !important;
}

.tw_tabs-button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #000000ff;
    padding-bottom: 14px;
    font-weight: semibold;
    font-size: 16px;
}

.tw_tabs-button-selected {
    background-color: transparent;
    border: none;
    outline: none;
    color: #000000ff;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.tw_ToolTip {
    background-color: black;
    color: white;
    border-radius: 16px;
    padding: 20 20 20 20;
    font-family: "Inter", sans-serif;
    font-feature-settings: "cv11";
}

.tw_h3 {
    font-weight: semibold;
    font-size: 16px;
}

.tw_h3_5 {
    color: #000000ff;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.tw_h4 {
    color: #000000aa;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.tw_List-Item-Container {
    border-bottom: 1px solid lightgray;
    padding: 16px 0px 10px 0px;
    display: flex;
    font-family: "Inter", sans-serif;
    font-feature-settings: "cv11";
    gap: 6px;
    margin-right: 20px;
}

.tw_List-Item-Label {
    margin-top: 10px;
}

.tw_Icon-Clickable {
    border-radius: 4px;
    padding: 10px 6px 6px 6px;
    cursor: pointer;
}

.tw_Icon-Clickable:hover {
    background-color: lightgray;
}

.tw_button {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 6px 20px 6px 20px;
    font-weight: semibold;
    font-family: "Inter", sans-serif;
    font-feature-settings: "cv11";
    height: 34px;
}

.tw_button:hover {
    background-color: #09090be6;
}

.tw_button-alt {
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    ;
    outline: none;
    border-radius: 6px;
    padding: 6px 20px 6px 20px;
    font-weight: semibold;
    font-family: "Inter", sans-serif;
    font-feature-settings: "cv11";
    height: 34px;
}

.tw_button-alt:hover {
    background-color: rgb(240, 240, 240);
}

.tw_dialog-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #50505050;
    display: none;
}

.tw_dialog {
    margin: auto;
}

.tw_input {
    background-color: white;
    color: #000000aa;
    border-radius: 10px;
    border: none;
    height: 34px;
    outline: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 2px lightgray;
    font-family: "Inter", sans-serif;
    font-feature-settings: "cv11";
    padding: 6px 6px 6px 20px;
}

.tw_input:focus {
    outline: 2px solid black;
}

.tw_select {
    background-color: white;
    color: black;
    border-radius: 6px;
    border: none;
    height: 34px;
    outline: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 2px lightgray;
    font-family: "Inter", sans-serif;
    font-feature-settings: "cv11";
    padding: 6px 6px 6px 20px;
}

.tw_select:focus {
    outline: none
}

.tw_icon-very-large {
    vertical-align: -.125em;
    width: 6em;
    height: 6em;
}

.tw_icon-large {
    vertical-align: -.125em;
    width: 3em;
    height: 3em;
}

.tw_icon-medium-large {
    vertical-align: -.125em;
    width: 2.5em;
    height: 2.5em;
}

.tw_icon-yes-small {
    vertical-align: -.125em;
    fill: green;
    width: 1.0em;
    height: 1.0em;
}

.tw_icon-yes-medium {
    vertical-align: -.125em;
    fill: green;
    width: 1.6em;
    height: 1.6em;
}

.tw_icon-no-small {
    vertical-align: -.125em;
    fill: darkred;
    width: 1.0em;
    height: 1.0em;
}

.tw_icon {
    vertical-align: -.125em;
    fill: black;
    width: 2em;
    height: 2em;
}

.tw_icon-medium {
    vertical-align: -.125em;
    fill: black;
    width: 1.5em;
    height: 1.5em;
}

.tw_icon-small {
    vertical-align: -.125em;
    fill: black;
    width: 1.0em;
    height: 1.0em;
}

.tw_icon-very-small {
    vertical-align: -.125em;
    fill: black;
    width: 0.5em;
    height: 0.5em;

}

.tw_icon-small-disabled {
    vertical-align: -.125em;
    fill: grey;
    width: 1.0em;
    height: 1.0em;
}

.tw_icon:hover {
    fill: darkgray;
}

.tw_icon-small:hover {
    fill: darkgray;
}

.tw_icon-medium:hover {
    fill: darkgray;
}

.tw_button-icon {
    vertical-align: -.125em;
    fill: black;
    width: 1.5em;
    height: 1.5em;
}

.loader {
    width         : 48px;
    height        : 48px;
    border-radius : 50%;
    display       : inline-block;
    border-top    : 3px solid black;
    border-right  : 3px solid transparent;
    box-sizing    : border-box;
    animation     : rotation 1s linear infinite;
    margin-left   : 10px ;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}