{% extends 'dashboard.html' %}

{% block breadcrumbs %}  
<div style='display:flex; flex-direction: column; width:100%; margin-right:20px; margin-bottom:-16px;'>
    <div style='display:flex; margin-bottom:20px; text-transform: uppercase;'> 
        <span>SEO Tools</span>
        <span>Outline creator</span>   
    </div>        
    <h1 class='az-content-title'>Outline creator</h1>
</div>    
{% endblock %}  

{% block tool_content %} 
    {% if acess_flag_outline_gen %} 
        {% include 'OutlineGen.html' %}
    {% else %}
        <h1 class='az-content-title DASHBOARD_Noaccess'>You don't have access to this tool</h1>
    {% endif %}
{% endblock %}
